<section class="pricing container">

    <h3 class="page-header">Pricing <div class="underline"></div></h3>

    <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0 shadow">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                    <h6 class="card-price text-center">
                        $0<span class="period">/month</span>
                    </h6>
                    
                    <h6 class="card-title text-muted text-lowercase text-center"><em>Test It Out</em></h6>
                    
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Strata</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Strata Member</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 GB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Customizable Strata Home Page</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Community Access</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Send Notifications</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Schedule Events</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload Files</li>
                    </ul><a class="btn btn-block btn-outline-primary text-uppercase" ui-sref="app.login">Get Started</a>
                </div>
            </div>
        </div><!-- Plus Tier -->
        <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0 shadow">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                    <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
                    
                    <h6 class="card-title text-muted text-lowercase text-center"><em>for small communities</em></h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Stratas</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1-50 Members</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>50 GB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Customizable Strata Home Page</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Send Notifications</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Schedule Events</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload Files</li>
                    </ul><button type='button' class="btn btn-block btn-outline-primary text-uppercase" disabled>Get Started</button>
                </div>
            </div>
        </div><!-- Pro Tier -->
        <div class="col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                    <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
                    <h6 class="card-title text-muted text-lowercase text-center"><em>for large communities</em></h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Stratas</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Members</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Customizable Strata Home Page</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Send Notifications</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Schedule Events</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload Files</li>
                    </ul><button type='button' class="btn btn-block btn-outline-primary text-uppercase" disabled>Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>