// $fa-font-path: "~font-awesome/fonts";
// @import '~font-awesome/scss/font-awesome.scss';

body {
    overflow-x: hidden;
    &.modal-open {
        #page-content-wrapper {
            overflow: hidden;
        }
    }
}

.main-view {
    padding-top: 10px;
}

.navbar-brand-wrap {
    display: inline;
    margin-right: 60px;
    position: relative;

    .navbar-brand-clipped {
        position: absolute;
        top: -15px;
        clip: rect(0px,60px,60px,0px);
    }
}

.nav-link.active {
    background-color: red;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
}

.mt-1-4 {
    margin-top: 6px;
}
.mt-1-3 {
    margin-top: 7px;
}
.mt-1-12 {  
    margin-top: -2px;
}

.mt-6 {
    margin-top: 60px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-8 {
    margin-top: 80px;
}

.pos-rel {
    position: relative;
}

.open-account-modal-link {
    font-size: 24px;
}

.date-picker {
    i.fa-svg-icon {
        svg {
            max-width: 0.6rem;
            height: 18px;
        }
    }
}

// .strata-table {
//     th {
//         text-align: center;
//     }
// }