@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Raleway');

body {
	font-family: 'Open Sans', sans-serif;
}

.page-header {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Merriweather', serif;

	div.underline {
		width: 160px;
		background-color: navy;
		color: navy;
		border: 0;
		height: 4px;
		margin: 0;
		margin-top: 4px;
		padding: 0;
	}
}