#main-nav {
    .dropdown-menu {
        width: 180px;
    }

    .nav-link {
        letter-spacing: -1px;
    }

    #strata-dropdown {
        left: -65px;
    }

    #strata-dropdown-toggle {

        &::after {
            display:none;
        }
        
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        font-family: 'Merriweather', sans-serif;

        .title-easy {
            color: green;
        }

        .title-strata {
            color: dodgerblue;
        }
    
        .navbar-brand-wrap {
            display: inline;
            margin-right: 60px;
            position: relative;
    
            .navbar-brand-clipped {
                position: absolute;
                top: -18px;
                clip: rect(0px,60px,60px,0px);
            }
        }
    }

    .nav-link.active {
        background-color: red;
    }

    .navbar.fixed-top {
        // background-color: #efefef;
        min-width: 300px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-bottom: 1px solid silver;
        padding: 0.75rem 1rem;
        z-index: 4500;
    }

    .navbar.fixed-top.show {
        left: 250px; // slide right 250px
    }

    .sidebar-nav {

        .sidebar-brand {
            border: 0;
            border-bottom: 1px solid silver;
        }

        li.nav-item {
            border: 0;
            border-bottom: 1px solid silver;

            a.nav-link {
                margin-top: 10px;
            }
        }
    }
}

