.service-card {

	.service-icon-wrap {
		width: 5rem;
		height: 5rem;
		line-height: 4.7rem;
		padding: 0;
		margin: 0;
		background-color: #6daded;
		border: 1px solid silver;
		text-align: center;
		vertical-align: middle;
		color: white;
	}

	.service-main {

	}
}