<div class="container mt-2">
    <!-- Heading Row -->
    <div class="row">
        <div class="col-lg-8">
            <span class="faded faded-all">
                <img alt="apartments" class="img-fluid rounded" src="/assets/img/apartments.jpg">
            </span>
        </div><!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <h3 class="page-header">We Help You Manage Your Strata <div class="underline"></div></h3>
            <p>Looking for a way to bring your community together or to help you manage your strata? We can help. We provide the tools that allow run your strata seamlessly. This includes the ability to invite additional strata members by email or text. Send an email blast to all of your members to let them know about an upcoming inspection. Manage your strata council's monthly minutes and distribute them to your community simply. Share files and much more..</p>
            <a class="btn btn-primary btn-lg" ui-sref="app.services">Learn More <i class='fas fa-angle-double-right'></i></a>
        </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0"><i class="far fa-star"></i> Get your community involved by providing them a web portal that they can proactively take part in! </p>
        </div>
    </div><!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow bg-white">
                <div class="card-body pt-0">
                    <h2 class="card-title page-header">Your Strata <div class="underline"></div></h2>
                    <p class="card-text"
                        data-ng-bind="cardOneText"
                        data-ellipsis
                        style='max-height: 200px;'>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" ui-sref="app.services">Learn More <i class="fas fa-angle-double-right"></i></i></a>
                </div>
            </div>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow bg-white">
                <div class="card-body pt-0">
                    <h2 class="card-title page-header">Schedule Events <div class="underline"></div></h2>
                    <p class="card-text"
                        data-ng-bind="cardTwoText"
                        data-ellipsis
                        style='max-height: 200px;'></p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" ui-sref="app.services">Learn More <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow bg-white">
                <div class="card-body pt-0">
                    <h2 class="card-title page-header">Stay Organized <div class="underline"></div></h2>
                    <p class="card-text"
                        data-ng-bind="cardThreeText"
                        data-ellipsis
                        style='max-height: 200px;'></p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" ui-sref="app.services">Learn More <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->